.Landing_title {
  background-image: url('./assets/images/bg-img/bg-img-main.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
}

.Quantum_Card_Box {
  background-image: url('./assets/images/bg-img/bg-img-customer-clob.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: local;
}

.dashboard_header {
  background-image: url('./assets/images/bg-img/bg-banner-dashboard.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
}

@media only screen and (max-width: 767px) {
  .Landing_title {
    background-image: url('./assets/images/bg-img/bg-img-sm.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
  }

  .Quantum_Card_Box {
    background-image: url('./assets/images/bg-img/bg-img-customer-clob-sm.png');
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: local;
  }
}