@import "tailwindcss";

@font-face {
  font-family: Dirooz;
  src: url('./assets/fonts/Dirooz-FD.ttf');
}

@font-face {
  font-family: Vazir;
  src: url('./assets/fonts/Vazir-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Vazir;
  src: url('./assets/fonts/Vazir-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Vazir;
  src: url('./assets/fonts/Vazir-Thin.ttf');
  font-weight: 200;
}

@font-face {
  font-family: "IRANSans";
  src: url("./assets/fonts/IRANSansXV.woff2") format("woff2");
  src: url("./assets/fonts/IRANSansXV.woff") format("woff-variations");
  font-feature-settings: "ss02";
  font-weight: 100 900;
  font-display: fallback;
}

@font-face {
  font-family: "IRANSansMed";
  src: url("./assets/fonts/IRANSansXV.woff2") format("woff2");
  src: url("./assets/fonts/IRANSansXV.woff") format("woff-variations");
  font-feature-settings: "ss02";
  font-weight: 100 900;
  font-display: fallback;
}

@theme {
  --color-primary: #DAA327;

  --color-secondary-1: #E6D5A8;
  --color-secondary-2: #B3964C;
  --color-secondary-3: #552C13;
  --color-secondary-4: #E8D7AC;
  --color-secondary-5: #392426;
  --color-secondary-6: #B3964C26;

  --font-Vazir: 'Vazir';
  --font-Dirooz: 'Dirooz';
  --font-IRANSans: 'IRANSans';
  --font-IRANSansMed: 'IRANSansMed';

}

* {
  font-family: var(--font-IRANSansMed);
  font-weight: bold;
}

.Quantum_Card {
  background-color: var(--color-white);
  box-shadow: 0 0 10px var(--color-gray-200), 0 0 15px var(--color-gray-100);
  border-radius: 0.75rem;
}

footer {
  background-image: url('./assets/images/bg-img/footerBack1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}